@model G3Pharmaceuticals.Models.Customer


@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Font Static -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Viaoda+Libre&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Montserrat:wght@800&display=swap" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/css/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/login/css/main.css">
    <!--===============================================================================================-->
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/css/index.css">
</head>
<body>
    <!-- ---------------- -->
    <!-- TOP HEAD CONTENT -->
    <!-- ---------------- -->
    <div class="top_head" id="myHeader">
        <div class="content_top_head">
            <!-- ----------------- -->
            <!-- LOG IN / REGISTER -->
            <!-- ----------------- -->
            @if (Session["customer"] != null)
            {
                <div class="signin_register dropdown-box">
                    <a class="top_content" href="#"><i class="fa fa-user" style="padding-right: 5px;"></i> My Account </a>
                    <div class="dropdown-content">
                        <a class="nav__items" href="@Url.Action("PurchaseHistory", "Home")">Purchase History</a>
                        <a class="nav__items" href="@Url.Action("LogOut", "Home")">Log Out</a>
                    </div>
                </div>
            }
            else
            {
                <div class="signin_register">
                    <a class="top_content" href="@Url.Action("LogIn", "Home")"><i class="fa fa-user" style="padding-right: 5px;"></i> Sign In / </a> <a class="top_content" href="@Url.Action("Register", "Home")"> Register </a>
                </div>
            }
            <div class="other_content">
                <a class="top_content" href="@Url.Action("About","Home")"><i class="fa fa-book" style="padding-right: 5px;"></i> About Us</a>
                <a class="top_content" href="@Url.Action("Contact","Home")"><i class="fa fa-phone" style="padding-right: 5px;"></i> Contact Us</a>
                <a class="top_content" href="@Url.Action("Index","Candidate")"><i class="fa fa-question" style="padding-right: 5px;"></i> Careers</a>
                <a class="top_content" href="@Url.Action("Index","Cart")"><i class="fa fa-shopping-cart" style="padding-right: 5px;"></i> Your Order</a>
                <a class="top_content" href="@Url.Action("Quote","Home")"><i class="fa fa-comment" style="padding-right: 5px;"></i> Quote Us</a>
            </div>
        </div>
    </div>

    <!-- ---------------- -->
    <!--      HEADER      -->
    <!-- ---------------- -->
    <header class="header">
        <!-- ---------------- -->
        <!-- LOGO AND SEARCH  -->
        <!-- ---------------- -->
        <div class="logo_and_search">
            <div class="logo">
                <a href="@Url.Action("Index","Home")"><img src="~/Content/img/logo.png" alt="logo"></a>
            </div>
            <div class="search_promote">
                <div class="searchbar">
                    <input type="text" id="searchinput" placeholder="Search...">
                    <button type="submit" class="search-button"></button>
                </div>
                <div class="promote">
                    <img src="~/Content/img/dash.svg" width="15%" alt="|">
                    <div class="text_promote">
                        <span class="promote_title">CONTACT NOW</span>
                        <span class="sub_title">For enterprise's services</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ---------------- -->
    <!--    MAIN CONTENT  -->
    <!-- ---------------- -->
    <div class="main_content">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="~/Content/css/login/images/img-01.png" alt="IMG">
                    </div>
                    
                    <form class="login100-form validate-form" action="" method="post">
                        <span class="login100-form-title">
                            Member Register
                        </span>
                        <div class="wrap-input100 validate-input" data-validate="Customer Name is required">
                            <input class="input100" type="text" id="CustomerName" name="CustomerName" placeholder="Customer Name">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100">
                            <input class="input100" type="text" id="TaxCode" name="TaxCode" placeholder="Tax Code">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-address-card" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Phone is required">
                            <input class="input100" type="tel" id="Phone" name="Phone" pattern="[0|+84]-[0-9]{9, 10}" placeholder="Phone Number">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100">
                            <input class="input100" type="text" id="Address" name="Address" placeholder="Address">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-map-pin" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100">
                            <input class="input100" type="text" id="Representative" name="Representative" placeholder="Representative">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Email is required">
                            <input class="input100" type="email" id="Email" name="Email" placeholder="Email">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Username is required">
                            <input class="input100" type="text" id="UserName" name="UserName" placeholder="User Name">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" type="password" id="PassWord" name="PassWord" placeholder="Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </span>
                        </div>
                      
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Content/css/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/css/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/css/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/css/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/css/login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Content/css/login/js/main.js"></script>
    <script>
        //Sticky header
        window.onscroll = function () {
            myFunction();
        };

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>