@model G3Pharmaceuticals.Models.Candidate

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}
@{
    string status = "";
    if (Model.Status == 4)
    {
        status = "InterView Failed";
    }
    else if (Model.Status == 1)
    {
        status = "CV Evaluating";
    }
    else if (Model.Status == 2)
    {
        status = "CV Evaluate Failed";
    }
    else if (Model.Status == 3)
    {
        status = "InterView Evaluating";
    }
    else
    {
        status = "Processing";
    }
}
<div class="container-profile">
    <a href="@Url.Action("Index", "Candidate")" style="color:#00b9f2;"><i class="fa fa-arrow-left"></i> Back to Home</a>

    <div class="profile_card">
        <div class="img-profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" class="ProfilePicture_userPlaceholder__3XM3K" viewBox="0 0 30 30"><path d="M15 3a6 6 0 00-6 6v1a6 6 0 1012 0V9a6 6 0 00-6-6zm-.002 16c-4.006 0-9.146 2.167-10.625 4.09C3.459 24.279 4.329 26 5.828 26H24.17c1.499 0 2.369-1.721 1.455-2.91C24.146 21.168 19.004 19 14.998 19z"></path></svg>
        </div>
        <div class="info-profile">
            <p class="yourname">@Model.FullName</p>
            @*<p class="yourinfo">Candidate ID: <strong style="padding-left: 5px;">@Model.CandidateID</strong></p>*@
            <p class="yourinfo">Date Of Birth: <strong style="padding-left: 5px;">@(Model.DateOfBirth.HasValue ? @Model.DateOfBirth.Value.ToString("dd-MM-yyyy") : null)</strong></p>
            <p class="yourinfo">Interview Status: <strong style="padding-left: 5px;">@status</strong></p>
        </div>
    </div>

    <div class="edit-profile">
        <div class="form-title">
            <h1>Your profile</h1>
            <a class="edit-btn" href="~/Candidate/Update?id=@Session["candidate"]">
                <svg class="ContactInformation_editIcon__6EtK6 ContactInformation_showEditIcon__3b1LR" width="25" height="25" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="filter-edit"><feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 0.466667 0 0 0 0 0.466667 0 0 0 0 0.466667 0 0 0 1.000000 0"></feColorMatrix></filter></defs><g id="icons/action/icon-edit/size-m" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g filter="url(#filter-edit)" id="icons8-edit-(7)"><g transform="translate(6.000000, 6.000000)"><polyline id="Path" stroke="#000000" stroke-width="1.28" stroke-linecap="round" stroke-linejoin="round" points="17.6322207 4.6486069 3.30548966 18.9748966 8.73477536e-13 19.862069 0.886731034 16.5565793 15.2134621 2.22984828"></polyline><path d="M18.8685241,4.03156499 C18.8663172,4.03332414 19.2322207,3.66742069 19.2322207,3.66742069 C20.0712828,2.82835862 20.0712828,1.46802759 19.2331034,0.629406897 C18.3931586,-0.210096552 17.033269,-0.209213793 16.1942069,0.629406897 C16.1942069,0.629406897 15.8278621,0.995751724 15.830059,0.993544828 L18.8685241,4.03156499 Z M0.967062069,16.4758069 L3.38626207,18.8950069 L0.209213793,19.6528552 L0.967062069,16.4758069 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path></g></g></g></svg>
            </a>
        </div>
            <table class="table-profile">
                <tr class="border-profile">
                    <td>Candidate ID</td>
                    <td>@Model.CandidateID</td>
                    <td>Full Name</td>
                    <td>@Model.FullName</td>
                </tr>
                <tr class="border-profile">
                    <td>Gender</td>
                    <td>@Model.Gender</td>
                    <td>Date Of Birth</td>
                    <td>@(Model.DateOfBirth.HasValue ? @Model.DateOfBirth.Value.ToString("dd-MM-yyyy") : null)</td>
                </tr>
                <tr class="border-profile">
                    <td>Email</td>
                    <td>@Model.Email</td>
                    <td>Phone</td>
                    <td>@Model.Phone</td>
                </tr>
                <tr class="border-profile">
                    <td>Address</td>
                    <td>@Model.Address</td>
                    <td>Status</td>
                    <td>@status</td>
                </tr>
                <tr class="border-profile">
                    <td>Education Details</td>
                    <td>@Model.EducationDetails</td>
                    <td>Your CV</td>
                    <td>
                        @if (@Model.CV != null)
                        {
                            <a href="@Url.Content("~/Content/CV Files/" + @Model.CV)">CV File</a>
                        }
                    </td>
                </tr>
                <tr class="border-profile">
                    <td>Username</td>
                    <td>@Model.Username</td>
                    <td>Password</td>
                    <td class="hidetext">@Model.Password</td>
                </tr>
                <tr class="border-profile">
                    <td>Interview Date</td>
                    <td>@Model.InterviewDate</td>
                    <td>@*Interview Note*@</td>
                    <td>@*@Model.InterviewNote*@</td>
                </tr>
            </table>
    </div>
</div>   